<h1>THIS IS THE SECRET PAGE</h1>

<div>
<img src="http://i.imgur.com/aD2JzYo.png">
</div>

<li><a href="/register">Sign-up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>